@import "./partial";

// STYLES FOR INPUT: FORMS
input,
select
{
    width: 553px;
    height: 50px;
    margin: 5px 0 0;
    padding: 6px 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: $cerulean-5;
    color: $blue-grey;
    font-family: $Accurat-pro;
    font-size: 18px;
    line-height: 1.78;
}

input:focus,
select:focus{
    box-shadow: 0 0 15px 0 $cerulean-20;
    border: solid 1px $cerulean-30;
    background-color: white;
}

input::placeholder,
select::placeholder
{
    font-family: $Accurat-pro;
    font-size: 18px;
    line-height: 1.78;
    color: $blue-grey-40;
}

// select{
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
// }

form{
    width: 600px;
    padding: 1.2%;
    display: flex;
    flex-direction: column;
}

.error-msg{
    display: block;
    padding:5px 10px;
    width: fit-content;
    text-align: left;
    font-size: 16px;
    color: red;
    height: 20px;
}

.conditional-box{
    width: 553px;
    padding: 15px 0px;
    margin-top: 20px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.conditional-box input{
    height: 20px;
    width: 20px;
    margin: 5px 10px ;
    border-radius: 5px;
    background-color: $cerulean-15;
}

.conditional-box > p{
    margin: 0 0 0 10px;
    width: 489px;
    font-family: $Accurat-pro;
    line-height: 1.63;
    color: $blue-grey;
}

.links{
    color: $cerulean;
    text-decoration: none;
    cursor: pointer;
}