@import "../sass/partial";

.info-container{
    width: 553px;
    height: 90px;
    margin: 53px 0 30px;
    padding: 15px 155px 15px 25px;
    border: none;
    outline: none;
    text-align: left;
    background-color: white;
    box-shadow: 0 10px 20px 0 $grey-shadow;
    font-family: $Accurat-pro;
    font-size: 16px;
    line-height: 1.75;
    color: $blue-grey;
}

.info-container span{
    color: black;
    margin-right: 10px;
}

.error-msg{
    display: block;
    padding:5px 10px;
    text-align: left;
    width: 553px;
    font-size: 16px;
    color: red;
    height: 20px;
}