@import "../sass/partial";

.form-head
{
    width: 345px;
    height: 64px;
    margin-bottom: 45px;
    font-size: $Circular-Std;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.33;
    color: black;
}