@import "../sass/partial";

label{
    color : $blue-grey-50;
    font-size: 16px;
    line-height: 1.63;
    padding-left: 14px;
    font-weight: normal;
    width:fit-content;
    font-family: $Accurat-pro;
}
