@import "../sass/partial";

button
{
    width: 553px;
    height: 64px;
    padding: 18px 216px 22px 217px;
    border-radius: 32px;
    box-shadow: 0 2px 4px 0 rgba(183, 194, 6, 0.3);
    background-color: $dark-lime-green;
    // ACCURAT PRO
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: bold;
}