@import "../sass/partial";

.warning-rect
{   
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 553px;
    padding: 16px 90px 16px 15px;
    border-radius: 7px;
    font-weight: 600;
    background-color: $golden-yellow-20;
    font-family: $Accurat-pro;
    line-height: 1.57;
    color: $squash;
}

.warning-icon
{
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin: 15px 15px 11px 0;
}